apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-ui
spec:
  replicas: 4
  selector:
    matchLabels:
      app: guestbook
  template:
    metadata:
      labels:
        app: guestbook 
    spec:
      containers:
      - name: guestbook 
        image: gcr.io/google-samples/gb-frontend:v5
        ports:
        - containerPort: 3000
